
head
	style
		include stylesheets/main.css
	title Mason DiMarco
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	script(src="./javascripts/jquery-2.2.0.min.js")

body

	//Navbar
	include ./jade_partials/navbar.jade

	//Bio Section
	include ./jade_partials/bio.jade

	//project Section
	include ./jade_partials/project.jade

	script(src="./javascripts/visibilityToggling.js")
			
			

