
head
	meta(name="viewport", content="width=device-width", initial-scale="1")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	style
		include stylesheets/main.css
	title Mason DiMarco
	
	script(src="./javascripts/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js")

body

	//Mixins
	include ./jade_partials/mixins.jade

	//Navbar
	include ./jade_partials/navbar.jade

	//Bio Section
	include ./jade_partials/bio.jade

	//Work Section
	include ./jade_partials/work.jade

	//Personal Section
	include ./jade_partials/personal.jade

	//Contact Section
	include ./jade_partials/contact.jade

script(src="./javascripts/visibilityToggling.js")
script(src="./javascripts/forceLayout.js")
script(src="./javascripts/smoothScroll.js")