
head
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	style
		include stylesheets/main.css
	title Mason DiMarco
	
	script(src="./javascripts/jquery-2.2.0.min.js")

body

	//Navbar
	include ./jade_partials/navbar.jade

	//Bio Section
	include ./jade_partials/bio.jade

	//Project Section
	include ./jade_partials/project.jade

	//Contact Section
	include ./jade_partials/contact.jade

	script(src="./javascripts/visibilityToggling.js")
			
			

