
#bio {
	margin-top: 0%;
	padding-top: 80px;
	background-color: #5F9EA0;
}


#personal-container {
	width: 90%;
	margin: auto;
}

#profile {
	width: 20em;
	border: 1px solid #656565;
	border-radius: .7em;
	@media( max-width: $mediumDevice ) {
		width: 40%;
	}

	@media( max-width: $smallDevice ) {
		display: none;
		width: 70%;
		margin-left: 15%;
	}
}


#info {
	display: inline-block;
	white-space: nowrap;
	margin-left: 5%;


	@media( max-width: $smallDevice ) {
		margin-left: 0%;
	}


	h3 {
		font-size: 4em;
		padding-top: 5%;
	}



	h3,h4 { 
		@media( max-width: $mediumDevice ) {
			font-size: 1.2em;
		}

		@media( max-width: $smallDevice ) {
			padding: 0%;
		}
	}


}

#skills {
	clear: left;
	padding-top: 1%;
}

.skill-text {
	h3,h4 {
		display: inline-block;
	}

	@media( max-width: $mediumDevice ) {
		h3 {
			font-size: 1.2em;
		}

		h4 {
			font-size: 1em;
		}
	}

	@media( max-width: $smallDevice ) {

		h3,h4 {
			display: block;
		}

		h3 {
			text-decoration: underline;
		}
	}
}

.skill-type {
	display: inline-block;
	width: 45%;
	max-width: 22em;
	min-width: 10em;
}
