#navbar {
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 1000;
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;

	a {
		h1 {
		width: 25%;
		display: inline-block;
		margin-left: 5%;
		margin-top: 22px;
		font-weight: 100;
		float: left;
		color: #797A84;

		}
	}
}

#navlinks {

	display: inline-block;
	float: right;
	margin-right: 5%;
	margin-top: 28px;	
	a {
		color: #797A84;
		cursor: pointer;
		width: 25%;
		margin: 2%;
		font-size: 1.3em;
		text-decoration: none;
		padding: 5%;
	}

	@media (min-width: $mediumDevice) {
		margin-right: 10%;
	}

	a:hover {
		color: #242D84;
	}

	a:first-child {

		@media (max-width: $smallDevice) {
			margin-left: 1%;
		}
	}
}
