section(id="bio")
	div(id="personal-container")
		img(id="profile", src="images/me.jpg", class="shadow")
		div(id="info")
			h3 Mason DiMarco
			h4 Brown University, 2016
			h4 Sc.B. Computer Science


		div(id="skills")
			div(class="skill-text")
				div(class="skill-type")
					h3 Languages
				h4 Javascript, Java, Python, C
			div(class="skill-text")
				div(class="skill-type")
					h3 Web Dev
				h4 Angular.js, Node.js, D3.js
			div(class="skill-text")
				div(class="skill-type")
					h3 Data Science
				h4 Mongodb, Matlab, SciPy, SQL