
mixin social-icon(iconName, text, link)
	div(class="contact-icon-wrapper")
		a(href="#{link}", class="contact-icon-link")
			i(class="fa fa-#{iconName} contact-icon")
			p #{text}


section(id="contact")
	h1 Get In Touch
	div(class="contact-icon-container")
		+social-icon("github-square", "Github", "https://github.com/mdimarco")
		+social-icon("envelope", "Email", "mailto:mhd894@gmail.com")
		+social-icon("linkedin-square", "Linked In", "https://www.linkedin.com/in/mason-henry-7a28ba38?trk=nav_responsive_tab_profile_pic")