section(id="contact")
	div(class="section-title")
		h1 Get In Touch
		hr(class="logo-sep")
	div(class="contact-icon-container")
		+social-icon("github-square", "Github", "https://github.com/mdimarco")
		+social-icon("envelope", "Email", "mailto:mhd894@gmail.com")
		+social-icon("linkedin-square", "Linked In", "https://www.linkedin.com/in/mason-henry-7a28ba38?trk=nav_responsive_tab_profile_pic")