section(id="personal")
	div(class="section-title")
		h1 Personal
		hr(class="logo-sep")

		div(class="work-select-panel")
			+background-icon("thailand", "Martial Arts", "#none")
			+background-icon("tesla", "Tesla Coil", "#none")
			+background-icon("square", "Doing the Impossible", "#none")(class="work-select-panel-text-2lines")
