section(id="personal")
	div(class="section-title")
		h1 Personal
		hr(class="logo-sep")

		div(class="work-select-panel")
			+personal-background-icon("thailand", "Martial Arts", "I once fought a Muay Thai fight in Thailand (that's me in red!)")
			+personal-background-icon("tesla", "Tesla Coil", "I've built a working 3ft Tesla Coil")
			+personal-background-icon("bike", "Doing the Impossible", "I've successfully forgotten how to ride a bike")(class="work-select-panel-text-2lines")
