section(id="personal")
	div(class="section-title")
		h1 Personal
		hr(class="logo-sep")

		+background-icon("square", "", "#none")
		+background-icon("square", "", "#none")
		+background-icon("square", "", "#none")
